body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.header-museu {
	width: 100%;
	margin: 0 auto;
	height: 7.5rem;
	background-color: #222;
	display: flex;
	justify-content: center;
}

.logo a, nav ul li a {
	color: #ffbb33;
	text-decoration: none;
}

a:hover {
	opacity: 0.75;
}

/* Logo 
------------------------------------ */
#logo h1 {
	float: left;
}

#logo a {
	font-size: 100px;
}


/* Barra de navegação 
------------------------------------ */
header {
	padding: 15px 0;
	height: 100%;
	width: 70%;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 20px;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

.themeProvider {
	color: #ffbb33;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.5em;
  }