.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme button {
    color: #fff;
}

.dark-theme #modal-esculturas{
    color: #222;
}

.dark-theme #modal-criarEscultura{
    color: #222;
}

.App {
    min-height: 67.6vh;
    overflow-x: hidden;
}