.agendarVisita{
    display: flex;
    width: 100vw;
    justify-content: center;

}
.contentVisita {
    width: 40%;
    display: flex;
    flex-direction: column;

    background-color: #222;
    color: #ffbb33;
    padding: 0 3rem 1.5em 3rem;

    margin: 5rem 0 5rem 0;

    border-radius: 16px;
}

.date, .hour, .quantity {
    display: flex;
    flex-direction: column;
}

.date input, .hour select, .quantity select {
    max-width: 50rem;
    height: 2.5rem;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin: 2rem 0 2rem 0;

    background-color: #222;
    color: #ffbb33;
    border-radius: 1rem;
}

.submit{
    width: 100%;
}

.submit button{
    width: 100%;
    height: 3rem;
    margin: 1rem 0 1rem 0;

    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #ffbb33;
    color: #ffbb33;
    transition: all 1s;
    margin-bottom: 20px;
}
.submit button:hover{
    background: #ffbb33;
    color: #101026;
    border-radius: 16px;
}

.agendarVisita h1 {
    width: 100vw;
}

.form label{
    text-overflow: ellipsis;
}
@media only screen and (max-width: 800px) {
    .agendarVisita {
        display: flex;
        justify-content: flex-start;
        margin-left: 3rem;
    }

    .form {
        width: 80vw;
    }

    .form input, .form select {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {    
    .form input, .form select {
        width: 25rem;
    }

    .contentVisita{
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .form input, .form select {
        width: 23rem;
    }
}

@media screen and (max-width: 800px) {
    .submit{
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .form input, .form select{
        width: 70%;
    }


}