.email, .celular {
    display: flex;
    flex-direction: column;
}

.email input, .celular input{
    max-width: 70rem;
    height: 2.5rem;
}

.pessoa {
    min-height: 20rem;
}
@media screen and (max-width: 1120px) {
    .documentAndName{
        display: block;
    }

    .documentAndName div{
        width: 100%;
    }

    .pessoa {
        min-height: 22rem;
    }
}